body {
    background-color: gray;
}

h1 {
    color: white;
    margin-top: 20px;
    text-align: center;
}

.bbtn-primary{
    margin-top: 5px;
}

.korzina {
  margin-left: 1298px;
margin-top: -39px;
}

p {
    color: black;
}